<section class="bread-line" id="bread-line">
	<div class="container">
		<div class="bread-line__inner">
			<div class="title bread-line__title wow" data-wow-offset="500">
				Whole wheat bread line
			</div>
			<div class="bread-line__slider">
				<article class="card bread-line__slider-card">
					<a href="#" class="card__img-link">
						<img src="images/bread_line_1.jpg" alt="bread" class="card__img">
					</a>
					<a href="#" class="card__title">
						Whole Wheat Round
					</a>
					<a href="#" class="card__weight">
						270 g | 218 kcal
					</a>
					<a href="#" class="card__price">
						$3.79
					</a>
				</article>
				<article class="card bread-line__slider-card">
					<a href="#" class="card__img-link">
						<img src="images/bread_line_2.jpg" alt="bread" class="card__img">
					</a>
					<a href="#" class="card__title">
						Whole Wheat Square
					</a>
					<a href="#" class="card__weight">
						150 g | 211 kcal
					</a>
					<a href="#" class="card__price">
						$2.19
					</a>
				</article>
				<article class="card bread-line__slider-card">
					<a href="#" class="card__img-link">
						<img src="images/bread_line_3.jpg" alt="bread" class="card__img">
					</a>
					<a href="#" class="card__title">
						Whole Wheat Multigrain
					</a>
					<a href="#" class="card__weight">
						270 g | 242 kcal
					</a>
					<a href="#" class="card__price">
						$4.19
					</a>
				</article>
				<article class="card bread-line__slider-card">
					<a href="#" class="card__img-link">
						<img src="images/bread_line_4.jpg" alt="bread" class="card__img">
					</a>
					<a href="#" class="card__title">
						Breakfast Raisin Square
					</a>
					<a href="#" class="card__weight">
						180 g | 239 kcal
					</a>
					<a href="#" class="card__price">
						$3.79
					</a>
				</article>
				<article class="card bread-line__slider-card">
					<a href="#" class="card__img-link">
						<img src="images/bread_line_1.jpg" alt="bread" class="card__img">
					</a>
					<a href="#" class="card__title">
						Whole Wheat Round
					</a>
					<a href="#" class="card__weight">
						270 g | 218 kcal
					</a>
					<a href="#" class="card__price">
						$3.79
					</a>
				</article>
				<article class="card bread-line__slider-card">
					<a href="#" class="card__img-link">
						<img src="images/bread_line_2.jpg" alt="bread" class="card__img">
					</a>
					<a href="#" class="card__title">
						Whole Wheat Square
					</a>
					<a href="#" class="card__weight">
						150 g | 211 kcal
					</a>
					<a href="#" class="card__price">
						$2.19
					</a>
				</article>
				<article class="card bread-line__slider-card">
					<a href="#" class="card__img-link">
						<img src="images/bread_line_3.jpg" alt="bread" class="card__img">
					</a>
					<a href="#" class="card__title">
						Whole Wheat Multigrain
					</a>
					<a href="#" class="card__weight">
						270 g | 242 kcal
					</a>
					<a href="#" class="card__price">
						$4.19
					</a>
				</article>
				<article class="card bread-line__slider-card">
					<a href="#" class="card__img-link">
						<img src="images/bread_line_4.jpg" alt="bread" class="card__img">
					</a>
					<a href="#" class="card__title">
						Breakfast Raisin Square
					</a>
					<a href="#" class="card__weight">
						180 g | 239 kcal
					</a>
					<a href="#" class="card__price">
						$3.79
					</a>
				</article>
			</div>
			<div class="bread-line__text">
				<p class="bread-line__text-row">
					Haven’t tried BakeryBo whole wheat bread yet?
				</p>
				<p class="bread-line__text-row">
					Get a “Buy 1 get 1 free” coupon and receive 2 loaves for the price of 1.
				</p>
			</div>
			<div class="links bread-line__links">
				<a href="#" class="link link--black bread-line__link">
					Where to buy
				</a>
				<a href="#coupon" class="link link--black bread-line__link">
					Get a coupon
				</a>
			</div>
		</div>
	</div>
</section>