<section class="coupon" id="coupon">
	<div class="coupon__wrapper">
		<div class="container">
			<div class="coupon__inner">
				<div class="coupon-info">
					<div class="coupon-info__title">
						Get a coupon
					</div>
					<div class="coupon-info__text">
						<p class="coupon-info__text-row">
							Haven’t tried our new whole wheat bread? No way!
						</p>
						<p class="coupon-info__text-row">
							The new product line is already on the shelves of supermarkets in your neighnourhood.
							Just download a “Buy 1 get 1 free” coupon and give it away at the cash register.
							You’ll receive 2 loaves for the price of 1. Isn’t it great?
						</p>
						<p class="coupon-info__text-row">
							To download a coupon please type in your e-mail.
							You don’t have to check the box if you don’t want to receive news from us though.
						</p>
					</div>
					<form class="coupon-form">
						<input class="coupon-form__email-input" type="email" placeholder="Email *" required>
						<input id="coupon-form__checkbox-input" class="coupon-form__checkbox-input" type="checkbox" required>
						<label for="coupon-form__checkbox-input" class="coupon-form__checkbox-label">
							I want to receive news about deals and new products.
						</label>
						<div class="links coupon__links">
							<a href="#" class="link link--black coupon__link">
								Where to buy
							</a>
							<button type="submit" class="link link--black coupon__link">
								Download coupon
							</button>
						</div>
					</form>
				</div>
				<a href="#" class="coupon-card">
					<svg class="coupon-card__svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 445 500">
						<defs>
							<clipPath id="o1yya">
								<path fill="#fff" d="M0 0h445v500H0z" />
							</clipPath>
						</defs>
						<g>
							<g>
								<path d="M0 0h445v500H0z" />
								<path fill="none" stroke="#000" stroke-dasharray="45 21" stroke-miterlimit="20" stroke-width="6"
									d="M0 0v0h445v500H0v0z" clip-path="url(&quot;#o1yya&quot;)" />
							</g>
						</g>
					</svg>
					<div class="coupon-card__title">
						buy 1 get 1
						<span class="coupon-card__title--free">
							free
						</span>
					</div>
					<div class="coupon-card__subtitle">
						Try new
						<span class="coupon-card__subtitle--logo">
							BakeryBo
						</span>
						whole wheat bread
					</div>
					<div class="coupon-card__text">
						Just grab 2 same loaves on the shelf, give
						the coupon at the cash register
						and pay for 1 loaf only.
					</div>
				</a>
			</div>
		</div>
	</div>
</section>