<section class="facts" id="facts">
	<div class="facts__wrapper">
		<div class="container">
			<div class="title facts__title wow" data-wow-offset="300">
				Facts about BakeryBo
			</div>
			<div class="facts__inner">
				<div class="facts-item wow" data-wow-offset="300">
					<img src="images/fact_1.png" alt="icon" class="facts-item__img">
					<div class="facts-item__title">
						Organic only
					</div>
					<p class="facts-item__text">
						We use only organic ingredients for our recipes.
					</p>
				</div>
				<div class="facts-item wow" data-wow-offset="300">
					<img src="images/fact_2.png" alt="icon" class="facts-item__img">
					<div class="facts-item__title">
						9 years serving
					</div>
					<p class="facts-item__text">
						We’ve been baking bread for 9 years now.
					</p>
				</div>
				<div class="facts-item wow" data-wow-offset="300">
					<img src="images/fact_3.png" alt="icon" class="facts-item__img">
					<div class="facts-item__title">
						12 supermarkets
					</div>
					<p class="facts-item__text">
						You can find our bread in 12+ well known supermarkets.
					</p>
				</div>
				<div class="facts-item wow" data-wow-offset="300">
					<img src="images/fact_4.png" alt="icon" class="facts-item__img">
					<div class="facts-item__title">
						28 products
					</div>
					<p class="facts-item__text">
						We offer 18 different kinds of bread and more’s coming.
					</p>
				</div>
				<div class="facts-item wow" data-wow-offset="300">
					<img src="images/fact_5.png" alt="icon" class="facts-item__img">
					<div class="facts-item__title">
						Recycable bags
					</div>
					<p class="facts-item__text">
						We care not only for your health but for the planet too.
					</p>
				</div>
				<div class="facts-item wow" data-wow-offset="300">
					<img src="images/fact_6.png" alt="icon" class="facts-item__img">
					<div class="facts-item__title">
						Baking classes
					</div>
					<p class="facts-item__text">
						We offer group and individual baking classes.
					</p>
				</div>
			</div>
			<a href="#coupon" class="block-link block-link--black facts__block-link">Block-link</a>
		</div>
	</div>

</section>