<footer class="footer" id="footer">
	<div class="footer__wrapper" style="background-image: url(images/background-four.jpg);">
		<div class="container">
			<div class="footer__inner">
				<div class="footer-col">
					<a href="#" class="logo footer__logo">
						<img src="images/logo.png" alt="Logo" class="logo__img">
					</a>
					<a href="#" class="footer__copy">
						® BakeryGo Inc. All rights reserved.
					</a>
				</div>
				<div class="footer-col footer-col__links">
					<div class="footer-col__item col-follow">
						<div class="footer-col__title">
							Follow us
						</div>
						<div class="footer-col__text">
							Yes, we are social
						</div>
						<ul class="social-menu">
							<li class="social-menu__item">
								<a href="#" class="social-menu__link social-menu__link--twitter">
									twitter
								</a>
							</li>
							<li class="social-menu__item">
								<a href="#" class="social-menu__link social-menu__link--instagram">
									instagram
								</a>
							</li>
							<li class="social-menu__item">
								<a href="#" class="social-menu__link social-menu__link--facebook">
									facebook
								</a>
							</li>
						</ul>
					</div>
					<div class="footer-col__item col-contacts">
						<div class="footer-col__title">
							Contact us
						</div>
						<address class="footer-address">
							<a href="tel:+797197292919" class="footer-address__link">
								+79 719 729 29 19
							</a>
							<a href="tel:+797197292919" class="footer-address__link">
								+79 719 729 29 19
							</a>
							<a href="mailto:bo@bakerybo.com" class="footer-address__link">
								bo@bakerybo.com
							</a>
						</address>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>