<header class="header" id="header">
	<div class="header__wrapper" style="background-image: url(images/background-one.jpg);">
		<div class="container">
			<div class="header-top">
				<a href="#" class="logo header__logo">
					<img src="images/logo.png" alt="Logo" class="logo__img">
				</a>
				<button type="button" class="header-btn">
					<span class="top-line"></span>
					<span class="middle-line"></span>
					<span class="bottom-line"></span>
				</button>
				<nav class="menu">
					<ul class="menu__list">
						<li class="menu__item">
							<a href="#" class="menu__link menu__link--active">
								Home
							</a>
						</li>
						<li class="menu__item">
							<a href="#" class="menu__link">
								About
							</a>
						</li>
						<li class="menu__item">
							<a href="#" class="menu__link">
								Prices
							</a>
						</li>
						<li class="menu__item">
							<a href="#" class="menu__link">
								Where to buy
							</a>
						</li>
						<li class="menu__item">
							<a href="#" class="menu__link">
								Bakery
							</a>
						</li>
						<li class="menu__item">
							<a href="#" class="menu__link">
								Contact
							</a>
						</li>
					</ul>
				</nav>
			</div>
			<div class="header-info">
				<div class="header-info__title">
					<p class="header-info__title-text">
						New product line from BakeryBo®
					</p>
					<p class="header-info__title-text">
						Whole wheat bread for your health and fitness goals
					</p>
				</div>
				<div class="header-info__subtitle">
					<p class="header-info__subtitle-text">
						Gave up bread from your life to stay healthy and fit?
					</p>
					<p class="header-info__subtitle-text">
						What if we say now you can enjoy it daily and get only healthier?
					</p>
				</div>
				<div class="links header__links">
					<a href="#" class="link header__link link--white">
						Where to buy
					</a>
					<a href="#coupon" class="link header__link link--white">
						Get a coupon
					</a>
				</div>
				<a href="#inside" class="block-link block-link--white header__block-link">Block-link</a>
			</div>
		</div>
	</div>
</header>